fastapi
uvicorn
python-dotenv
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-aiplatform
langchain
langchain-google-vertexai
faiss-cpu
pypdf
pydantic
pydantic-settings
itsdangerous
starlette
python-multipart
unstructured[all-docs]
nltk
